<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Login - BusTicketX</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="auth-container">
    <div class="auth-form">
      <h1>Login</h1>
      <p>Enter your credentials to login</p>
      {% if messages %}
      <ul>{% for message in messages %}
        <li class="error-message">{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username</label>
          <input type="text" id="id_username" name="username" value="{{ form.username.value }}" required>
          {% if form.username.errors %}
            <p class="error-message"><i class="info-icon">i</i> {{ form.username.errors }}</p>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="id_password">Password</label>
          <input type="password" id="id_password" name="password" required>
          {% if form.password.errors %}
            <p class="error-message"><i class="info-icon">i</i> {{ form.password.errors }}</p>
          {% endif %}
        </div>
        <button type="submit" class="auth-button">Login</button>
        <p><a href="{% url 'password_reset_request' %}">Forgot password?</a></p>
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
      </form>
    </div>
    <section class="homepage-link">
      <a href="{% url 'home' %}">Return to Home</a>
  </section>
  </div>
</body>
</html>
